<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="a.b.c.d.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="a.b.c.d.permission.MAPS_RECEIVE" />

    <application
        android:hardwareAccelerated="true"
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_image_foreground"
        android:label="Swachta 2.0"
        android:roundIcon="@mipmap/icon_image_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".houseowner.ImageClassification"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".houseowner.AlarmOnActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".curbsidecollector.CurbsideMain"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".houseowner.HouseHoldMain"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".houseowner.UploadActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".auth.HomeSignUpActivity"
            android:theme="@style/AppTheme" />
        <activity
        android:name=".auth.CurbSignUpActivity"
        android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".auth.SelectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="Nirmal Bharat"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".curbsidecollector.AccessBGLocation" />
        <receiver android:name=".houseowner.AlarmBroadcast"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdk0GkRdoCCpgU-T_rBFoU_CFPWB5KnBM"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>